<section class="content">
    <div class="content-block">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
    </div>
    <div class="container-semi">
        <div class="row">
            <div class="col-sm-12 section_title title_mobile text-center d-lg-none">
                Nota Contable #{{noteId}}
            </div>
            <div class="col-12">
                <div class="action_panel">
                    <a [routerLink]="['/accounting/notes']"
                        class="bt bt-white triggerwait pull-left text-primary tw back_button">
                        <i class="fa fa-btn fa-arrow-left"></i>
                    </a>
                    <span class="section_title pull-left pl-4 d-none d-md-block">
                        Nota Contable #{{noteId}}
                    </span>

                    @if(noteData?.status==='P') {
                    <button class="bt bt-red">
                        <i class="fa fa-undo"></i>
                        Anular
                    </button>
                    <button id="btnAprob" class="bt bt-green" (click)="approveNote()">
                        <i class="fa fa-check"></i>
                        Aprobar
                    </button>
                    <a [routerLink]="['/accounting/note/edit', noteId]" routerLinkActive="router-link-active"
                        class="bt bt-blue">
                        <i class="fa fa-edit"></i>
                        Editar
                    </a>
                    }

                    @if(noteData?.status==='C') {
                    <a [routerLink]="['/accounting/notes/new']" [queryParams]="{copy: noteId}"
                        routerLinkActive="router-link-active" class="bt bt-white">
                        <i class="fa fa-copy"></i>
                        Copiar
                    </a>
                    <button type="button" class="bt bt-white">
                        <i class="fa fa-print"></i>
                        Imprimir
                    </button>
                    }
                </div>
            </div>
            <hr>
            <div class="col-12">
                <div class="row mb-2">
                    <div class="col">
                        <div class="card card-h">
                            <div class="card-block text-center">
                                <b>Estado</b>

                                @switch (noteData?.status) {
                                @case ('P') {
                                <div id="stats">
                                    <i class="fa fa-circle open-invoice" style="font-size: 1.5rem;"></i>
                                    <br>Abierta
                                </div>
                                }
                                @case ('C') {
                                <div id="stats">
                                    <i class="fa fa-check closed-invoice" style="font-size: 1.5rem;"></i>
                                    <br>Aprobada
                                </div>
                                }
                                @case ('R') {
                                <div id="stats">
                                    <i class="fa fa-undo canceled-invoice" style="font-size: 1.5rem;"></i>
                                    <br>Rechazada
                                </div>
                                }

                                @case ('X') {
                                <div id="stats">
                                    <i class="fa fa-times canceled-invoice" style="font-size: 1.5rem;"></i>
                                    <br>Anulada
                                </div>
                                }
                                }
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card card-h">
                            <div class="card-block text-center">
                                <b>Oficina</b>
                                <div class="card_info">
                                    {{noteData?.ware}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-h">
                            <div class="card-block text-center">
                                <b>Tercero</b>
                                <div class="card_info">
                                    {{noteData?.customer_name}}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card card-h">
                            <div class="card-block text-center">
                                <b>Generado Por</b>
                                <div class="card_info">
                                    {{noteData?.creation_by}}
                                </div>
                                <div class="low_text">
                                    {{noteData?.creation_date! | fechaCorta}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-h">
                            <div class="card-block text-center">
                                <b>Fecha Contable</b>
                                <div class="card_info">
                                    {{noteData?.date! | fechaCorta}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card card-h">
                            <div class="card-block text-center">
                                <b>Aprobado Por</b>
                                @if (noteData?.status==='C') {
                                <div class="card_info">
                                    {{noteData?.approved_by}}
                                </div>
                                <div class="low_text">
                                    {{noteData?.approved_date! | fechaCorta}}
                                </div>
                                }@else {
                                <div class="card_info">--</div>
                                <div class="low_text">--</div>
                                }

                            </div>
                        </div>
                    </div> <!---->
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card">
                    <div class="accounting_notes">
                        <table tablesorter class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-left">ID</th>
                                    <th class="text-left">Cuenta</th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-left">Débito</th>
                                    <th class="text-left">Crédito</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (line of noteData?.lines; track $index) {
                                <tr>
                                    <td class="text-left">
                                        {{line.id}}
                                    </td>
                                    <td class="text-left">
                                        <a [routerLink]="['/accounting/movement', line.account]" target="_blank">
                                            {{line.account}}
                                            <i class="fa fa-external-link-alt"></i>
                                        </a>
                                    </td>
                                    <td class="text-left">
                                        {{line.account_name | uppercase}}
                                    </td>
                                    <td class="text-right">
                                        @if (line.debit! > 0) {
                                        {{line.debit | currency:'COP':'symbol-narrow':'1.0-2'}}
                                        }
                                    </td>
                                    <td class="text-right">
                                        @if (line.credit! > 0) {
                                        {{line.credit| currency:'COP':'symbol-narrow':'1.0-2'}}
                                        }
                                    </td>
                                </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="row section_title mt-2">
                        <div class="col-12 col-md-6 text-center">
                            <small>Débitos</small> <br>
                            {{noteData?.total_debit| currency:'COP':'symbol-narrow':'1.0-2'}}
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <small>Créditos</small><br>
                            {{noteData?.total_credit| currency:'COP':'symbol-narrow':'1.0-2'}}
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 30px; width: 100%;">
                <hr>
                <div class="w-100">
                    <div class="col-12 section_title">
                        <i class="fa fa-chevron-right"></i>
                        COMENTARIOS
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block pad2rem invoiceform">
                                <textarea rows="3" maxlength="512" class="form-control register_box"></textarea>
                                <div class="register_btn">
                                    <button class="bt bt-blue">
                                        <i aria-hidden="true" class="fa fa-comment"></i>
                                        Insertar Comentario
                                    </button>
                                </div>
                                <hr>
                                @for (comment of noteData?.comments; track $index) {
                                <div class="mt-2">
                                    <div class="d-flex">
                                        <div class="order_register w-100 shadow-sm p-2 ml-2 mr-2 mb-2 bg-register">
                                            {{comment.comment }}
                                        </div>
                                    </div>
                                    <div class="mb-3 mr-2 pr-4 text-monospace text-muted text-right">
                                        {{comment.user_enter }} - {{comment.date_in | fechaCorta}}
                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <utils-seat [seats]="noteData?.seats || []"></utils-seat>
        </div>
    </div>
</section>