<section class="content">
    <div class="container-fluid">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }

        <div>
            <div class="row">
                <div class="col-sm-12 section_title title_mobile text-center d-lg-none">
                    Notas Contables
                </div>
                <div class="col-12">
                    <div class="action_panel">
                        <a [routerLink]="['/accounting']" routerLinkActive="router-link-active"
                            class="bt bt-white triggerwait pull-left text-primary tw back_button">
                            <i class="fa fa-btn fa-arrow-left"></i>
                        </a>
                        <span class="section_title pull-left pl-4 d-none d-md-block">
                            Notas Contables
                        </span>
                        <a [routerLink]="['/accounting/notes/new']" routerLinkActive="router-link-active"
                            class="bt bt-green">
                            <i class="fa fa-note-o"></i>
                            Nueva Nota Contable
                        </a>
                    </div>
                </div>
                <hr>
                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-block overflowing_table">
                            <table tablesorter [filter]="true">
                                <thead>
                                    <tr>
                                        <th>Cuenta #</th>
                                        <th>Nombre de pila</th>
                                        <th>Apellido</th>
                                        <th>Edad</th>
                                        <th>Total</th>
                                        <th>Descuento</th>
                                        <th>Diferencia</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData">
                                        <td>{{ row.cuenta }}</td>
                                        <td>{{ row.nombre }}</td>
                                        <td>{{ row.apellido }}</td>
                                        <td>{{ row.edad }}</td>
                                        <td>{{ row.total }}</td>
                                        <td>{{ row.descuento }}</td>
                                        <td>{{ row.diferencia }}</td>
                                        <td>{{ row.fecha }}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

                <div>

                </div>


            </div>
        </div>
    </div>




</section>