<section class="content">
    <div class="content-block__">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
    </div>

    <div class="container-fluid">
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
            <div class="container-semi">
                <div class="row">
                    <div class="col-sm-12 section_title">
                        <i class="fa fa-chevron-right"></i> Nueva Nota Contable
                    </div>
                    <hr>
                    <div class="col-12">
                        <app-pg-autocomplete #pucAutocomplete [appAutofocus]="true" [data]="puc" valueField="code"
                            displayField="code" placeholder="Buscar Cuenta"
                            customDisplayTemplate="${code} - ${description} (${nature})" [debounceTime]="200"
                            [minChars]="2" [itemTemplate]="pucTemplate" [showDropdownOnFocus]="false"
                            (selected)="onPucSelected($event)" (search)="onSearchPuc($event)"
                            formControlName="pucAutocompleteId" [showSelectedValue]="false" [returnFullObject]="true"
                            [required]="false" errorMessage="Debe seleccionar una cuenta PUC">
                        </app-pg-autocomplete>

                        <ng-template #pucTemplate let-puc>
                            <div class="d-flex flex-column">
                                <span class="fw-bold">{{ puc.code }}</span>
                                <div class="d-flex justify-content-between small">
                                    <span class="text-primary">{{ puc.description }}</span>
                                    <span class="text-muted">{{ puc.nature }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <!--  @if (pucSeleted.length >0) { -->
                <div class="w-100">
                    <div class="w-100">
                        <div class="action_panel">
                            <div class="row">
                                <!-- Primer método: usando un offset para empujar todo hacia la derecha -->
                                <div class="col-12 col-md-8 offset-md-4">
                                    <div class="row">
                                        <!-- Fecha Contable -->
                                        <div class="col-12 col-md-4 mb-2">
                                            <div class="form-group">
                                                <label class="w-100">
                                                    Fecha Contable: <span class="required">*</span>
                                                    <input formControlName="fechaContable" type="date"
                                                        class="form-control"
                                                        [formControlValidation]="noteForm.get('fechaContable')!">
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Oficina -->
                                        <div class="col-12 col-md-4 mb-2">
                                            <div class="form-group">
                                                <label class="w-100">
                                                    Oficina: <span class="required">*</span>
                                                    <select formControlName="cbOffice" class="form-select"
                                                        [formControlValidation]="noteForm.get('cbOffice')!">
                                                        <option value="Oficina Principal">Oficina Principal</option>
                                                        <option value="Oficina Centro">Oficina Centro</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Centro de costo -->
                                        <div class="col-12 col-md-4 mb-2">
                                            <div class="form-group">
                                                <label class="w-100">
                                                    Centro de costo: <span class="required">*</span>
                                                    <select formControlName="cbCentoCosto" class="form-select"
                                                        [formControlValidation]="noteForm.get('cbCentoCosto')!">
                                                        <option value="">Seleccionar...</option>
                                                        <option value="19">VENTAS</option>
                                                        <option value="20">Pollos asados</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accounts-container">
                        @for (item of pucSeleted; track $index) {
                        <div class="card">
                            <div class="row accounting_notes">
                                <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2">
                                    {{item.account}}
                                </div>
                                <div class="col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-2">
                                    {{item.account_name.toUpperCase()}}
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2">
                                    <input type="number" [step]="0.01" placeholder="Débito" class="form-control"
                                        [value]="item.debit" [disabled]="item.debitDisabled"
                                        (input)="onDebitChange($index, $event)" typingListener>
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2">
                                    <input type="number" placeholder="Crédito" class="form-control"
                                        [value]="item.credit" [disabled]="item.creditDisabled" [step]="0.01"
                                        (input)="onCreditChange($index, $event)" typingListener>
                                </div>
                                <div class="col-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center mb-2">
                                    @if (item.customers!=null) {
                                    <div>
                                        <div class="low_text">
                                            CC / NIT: {{item.customers.nit}}
                                        </div>
                                        {{item.customers.name }}

                                        <i class="fa fa-times-circle canceled-invoice pointer" aria-hidden="true"
                                            [appTooltip]="'Eliminar Tercero'" [placement]="'top'"
                                            (click)="removeCustomer($index)"></i>
                                    </div>
                                    }
                                    @if (item.customers===null) {
                                    <div>
                                        <button type="button" [appTooltip]="'Agregar Tercero'" [placement]="'top'"
                                            class="bt bt-white" (click)="openUserModal($index, item)">
                                            <i class="fa fa-user"></i>
                                            Tercero
                                        </button>
                                    </div>
                                    }
                                </div>
                                <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center mb-2">
                                    <i class="fa fa-trash pointer canceled-invoice mt-2" aria-hidden="true"
                                        [appTooltip]="'Eliminar cuenta'" [placement]="'top'"
                                        (click)="removeItem($index, item)"></i>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="text-center card section_title">
                            <small>Total Débitos</small>
                            ${{getTotalDebits() | number:'1.0-2'}}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="text-center card section_title">
                            <small>Total Créditos</small>
                            ${{getTotalCredits() | number:'1.0-2'}}
                        </div>
                    </div>

                    <hr>
                    <div class="col-12 section_title">
                        <i class="fa fa-chevron-right"></i>
                        COMENTARIOS
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block pad2rem invoiceform">
                                <textarea formControlName="txtComment" maxlength="500" rows="3"
                                    class="form-control register_box"
                                    [formControlValidation]="noteForm.get('txtComment')!"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="action_panel">
                            <button type="submit" class="bt bt-green">
                                <i class="fa fa-check"></i>
                                Generar Nota Contable
                            </button>
                        </div>
                    </div>
                </div>
                <!-- } -->
            </div>
        </form>
    </div>
</section>

<app-typing [timeout]="2000"></app-typing>

<!-- Modal de selección de terceros - usando app-pg-autocomplete -->
<div class="modal" [ngClass]="{'show': showUserModal}" tabindex="-1" role="dialog"
    [style.display]="showUserModal ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="section_title">
                        Seleccione Tercero
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">

                            <div class="form-group">

                                @if (!selectedCustomer) {
                                <!-- Usar app-pg-autocomplete para la búsqueda de terceros -->
                                <app-pg-autocomplete #customerAutocomplete [data]="customers" valueField="id"
                                    displayField="name" placeholder="Buscar Tercero"
                                    customDisplayTemplate="${name} - ${nit}" [debounceTime]="200" [minChars]="3"
                                    [itemTemplate]="customerTemplate" [showDropdownOnFocus]="true"
                                    (selected)="onCustomerSelected($event)" [showButton]="true" buttonText="Crear"
                                    buttonClass="bt bt-white ms-2" buttonIconClass="fa fa-plus"
                                    (buttonClick)="onCreateNewCustomer()" [required]="false"
                                    errorMessage="Debe seleccionar un Tercero" [showSelectedValue]="false"
                                    [returnFullObject]="true">
                                </app-pg-autocomplete>

                                <!-- Template personalizado para los items del dropdown -->
                                <ng-template #customerTemplate let-customer>
                                    <div class="d-flex flex-column">
                                        <span class="fw-bold">{{ customer.name }}</span>
                                        <div class="d-flex justify-content-between small">
                                            <span class="text-primary">NIT: {{ customer.nit }}</span>
                                            <span class="text-muted">{{ customer.city || '' }}</span>
                                        </div>
                                    </div>
                                </ng-template>
                                }
                                <!-- Vista previa del cliente seleccionado -->
                                @if (selectedCustomer) {

                                <div class="selected_user">
                                    <div class="action_panel_two text-left">
                                        <button [appTooltip]="'Quitar Seleccion'" [placement]="'top'"
                                            class="btn btn-outline-danger" (click)="clearUserModal()">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                    <div class="selected_user_info">
                                        <div class="selected_company">Razón Social:
                                            <a [appTooltip]="'Ver Tercero'" [placement]="'top'" target="_blank"
                                                href="#">
                                                <b>{{ selectedCustomer.name }}</b></a>
                                        </div>
                                        <div class="selected_name">
                                            Contacto: <b></b>
                                        </div>
                                        <div class="selected_id">
                                            NIT - CC: <b>{{ selectedCustomer.nit }}</b>
                                        </div>
                                        <div class="selected_id">
                                            Ciudad: <b>{{ selectedCustomer.city }}</b>
                                        </div>
                                        <div class="selected_id">
                                            Dir: <b>{{ selectedCustomer.address }}</b>
                                        </div>
                                        <div class="selected_id">
                                            Tel: <b>{{ selectedCustomer.phone }}</b>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="bt bt-white" (click)="closeUserModal()">
                    Cancelar
                </button>
                <button type="button" class="bt bt-green" [disabled]="!selectedCustomer"
                    (click)="confirmCustomerSelection()">
                    <i class="fa fa-check"></i> Seleccionar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Backdrop del modal -->
@if (showUserModal) {
<div class="modal-backdrop fade show" (click)="closeUserModal()"></div>
}