<section class="content">
    <div class="content-block__">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
    </div>

    <div class="container-fluid">
        <div class="container-semi">
            <div class="row">
                <div class="col-sm-12 section_title">
                    <i class="fa fa-chevron-right"></i> Nueva Nota Contable
                </div>
                <hr>
                <div class="col-12">
                    <app-pg-autocomplete #pucAutocomplete [data]="puc" valueField="id" displayField="code"
                        placeholder="Buscar Cuenta" displayFormat="{value} - {display}" [debounceTime]="200"
                        [minChars]="1" [itemTemplate]="pucTemplate" [showDropdownOnFocus]="true"
                        (selected)="onPucSelected($event)" (search)="onSearchPuc($event)">
                    </app-pg-autocomplete>

                    <ng-template #pucTemplate let-puc>
                        <div class="d-flex flex-column">
                            <span class="fw-bold">{{ puc.code }}</span>
                            <div class="d-flex justify-content-between small">
                                <span class="text-primary">{{ puc.description }}</span>
                                <span class="text-muted">{{ puc.nature }}</span>
                            </div>
                        </div>
                    </ng-template>
                </div>
                @if(selectedPuc){
                <div class="mt-3 p-3 bg-light rounded">
                    <h6 class="border-bottom pb-2">Puc seleccionado</h6>
                    <div class="row">
                        <div class="col-sm-4 fw-bold">description:</div>
                        <div class="col-sm-8">{{ selectedPuc.description }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-4 fw-bold">code:</div>
                        <div class="col-sm-8">{{ selectedPuc.code }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-4 fw-bold">nature:</div>
                        <div class="col-sm-8">{{ selectedPuc.nature }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-4 fw-bold">classification:</div>
                        <div class="col-sm-8">{{ selectedPuc.classification }}</div>
                    </div>
                </div>
                }

                <hr>
            </div>
            <div class="w-100">
                <div class="action_panel row">
                    <div class="col-12 col-md-6 offset-md-6 d-flex">
                        <div class="flex-grow-1">
                            <label>Fecha Contable</label><br>
                            <input type="date" class="form-control">
                        </div>
                        <div class="flex-grow-1 pl-1">
                            <label>Oficina</label><br>
                            <select class="form-control">
                                <option value="1">BOGOTA</option>
                                <option value="2">PASTO</option>
                            </select>
                        </div>
                        <div class="flex-grow-1 pl-1"><label>Centro de costo</label><br> <select class="form-control">
                                <option value="0"></option>
                                <option value="19">VENTAS</option>
                                <option value="20">Pollos asados</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    @for (item of pucSeleted; track $index) {
                    <div class="card">
                        <div class="row accounting_notes">
                            <div class="col-sm-12 col-md-2">
                                {{item.account}}
                            </div>
                            <div class="col-sm-12 col-md-2">
                                {{item.account_name.toUpperCase()}}
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <input type="number" [step]="0.01" placeholder="Débito" class="form-control"
                                    [value]="item.debit" [disabled]="item.debitDisabled"
                                    (input)="onDebitChange($index, $event)">
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <input type="number" placeholder="Crédito" class="form-control" [value]="item.credit"
                                    [disabled]="item.creditDisabled" [step]="0.01"
                                    (input)="onCreditChange($index, $event)">
                            </div>
                            <div class="col-sm-12 col-md-3 text-center">
                                @if (item.customers!=null) {
                                <div>
                                    <div class="low_text">ID #1326 </div>
                                    LOPEZ PEDRO <i class="fa fa-times-circle canceled-invoice"
                                        style="cursor: pointer;"></i><br>
                                    cc/nit 4444444
                                </div>
                                }
                                @if (item.customers===null) {
                                <div>
                                    <button class="bt bt-white">
                                        <i class="fa fa-user"></i>
                                        Tercero
                                    </button>
                                </div>
                                }
                            </div>
                            <div class="col-sm-12 col-md-1 text-center">
                                <button data-toggle="tooltip" data-placement="top" title="Eliminar"
                                    class="btn btn-outline-danger btn-narrow">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="text-center card section_title">
                        <small>Total Débitos</small>
                        ${{getTotalDebits() | number:'1.0-2'}}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="text-center card section_title">
                        <small>Total Créditos</small>
                        ${{getTotalCredits() | number:'1.0-2'}}
                    </div>
                </div>
                <div class="col-12">
                    <div class="action_panel">
                        <button class="bt bt-green">
                            <i class="fa fa-check"></i>
                            Generar Nota Contable
                        </button>
                    </div>
                </div>
                <hr>
                <div class="col-12 section_title">
                    <i class="fa fa-chevron-right"></i>
                    COMENTARIOS
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-block pad2rem invoiceform">
                            <textarea maxlength="500" rows="3" class="form-control register_box"></textarea>
                            <div class="register_btn">
                                <button class="bt bt-blue">
                                    <i aria-hidden="true" class="fa fa-comment"></i>
                                    Guardar Comentario
                                </button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
            class="modal">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="section_title">
                                Seleccione Tercero
                            </div>
                            <hr>
                            <div class="form-group ">
                                <div class="form-group">
                                    <div class="low_text" style="display: none;">No Resultados De Busqueda...</div>
                                    <div id="autocomplete_search" class="dropdown"
                                        style="position: relative; display: flex;"><input autofocus="autofocus"
                                            autocomplete="off" placeholder="Buscar Cliente/Proveedor" type="text"
                                            id="find_user_input" class="form-control"> <button
                                            class="bt bt-white ml-3"><i class="fa fa-plus"></i> Crear</button>
                                        <ul class="dropdown-menu" style="width: 100%;">
                                            <li class="dropdown-item new_user_btn"><i class="fa fa-user-plus"></i> CREAR
                                                NUEVO USUARIO</li>
                                        </ul>
                                    </div>
                                    <div class="selected_user" style="display: none;">
                                        <div class="action_panel_two"><button class="btn btn-outline-primary"><i
                                                    class="fa fa-user"></i></button> <button
                                                class="btn btn-outline-danger"><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="selected_user_info">
                                            <div class="selected_company">Razón Social: <a target="_blank"
                                                    href="/admin/user/undefined"><b></b></a></div>
                                            <div class="selected_name">Contacto: <b></b></div>
                                            <div class="selected_id">NIT - CC: <b></b></div>
                                            <div class="selected_id">Ciudad: <b></b><!----><!----></div>
                                            <div class="selected_id">Dir: <b></b></div>
                                            <div class="selected_id">Tel: <b></b> <b></b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"><button tabindex="0" type="button" data-dismiss="modal"
                            class="bt bt-white">Cancelar</button> <button tabindex="0" type="button"
                            class="bt bt-green"><i class="fa fa-check"></i> Seleccionar</button></div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (isTyping) {
<div class="card typing">
    <div class="card-block pad2rem">
        ${{currentTypingValue | number:'1.0-2'}}
    </div>
</div>
}