<nav #navbar class="navbar" [ngClass]="isNavbarShow ? 'active' : 'inactive'">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" onClick="return false;" class="navbar-toggle collapsed"
                (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
            <!-- mobile menu bars -->
            <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
            <a class="navbar-brand" routerLink="dashboard/main">
                <img src="assets/images/logo.png" alt="" />
                <span class="logo-name">PgFacture®</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? '' : 'show'">
            <ul class="pull-left collapse-menu-icon">
                <li class="menuBtn">
                    <button mat-icon-button (click)="callSidemenuCollapse()"
                        class="sidemenu-collapse nav-notification-icons">
                        <app-feather-icons [icon]="'menu'" [class]="'header-icon'"></app-feather-icons>
                    </button>
                </li>
            </ul>

            <!-- Botón Crear en la barra izquierda - Solo visible en pantallas grandes -->
            <ul class="nav navbar-nav navbar-left d-none d-lg-flex">
                <!-- Crear Button -->
                <li class="btnCrear">
                    <button class="bt bt-o-blue" type="button" [matMenuTriggerFor]="createmenu">
                        <i class="fa fa-plus"> </i>
                        Crear
                    </button>
                    <mat-menu #createmenu="matMenu" class="create-menu">
                        <a class="dropdown-item dropdown-item-new" href="/admin/income/invoice/new"><i
                                class="fa fa-plus mr-2"></i> Factura de venta</a>
                        <a class="dropdown-item dropdown-item-new" href="/admin/income/pos"><i
                                class="fa fa-plus mr-2"></i> Factura POS</a>
                        <a class="dropdown-item dropdown-item-new" href="/admin/income/quotation/new"><i
                                class="fa fa-plus mr-2"></i> Cotización</a>
                        <a class="dropdown-item dropdown-item-new" href="/admin/income/invoice/new?remision=true"><i
                                class="fa fa-plus mr-2"></i> Remisión</a>
                        <a class="dropdown-item dropdown-item-new" href="/admin/expenses/r-expenses/new"><i
                                class="fa fa-plus mr-2"></i> Gasto</a>
                        <a class="dropdown-item dropdown-item-new" href="/admin/expenses/provider-invoice/new"><i
                                class="fa fa-plus mr-2"></i> Factura Proveedor</a>
                        <a class="dropdown-item dropdown-item-new" href="/admin/products/simple"><i
                                class="fa fa-plus mr-2"></i> Producto</a>
                        <a class="dropdown-item dropdown-item-new" href="/admin/contacts/user/create"><i
                                class="fa fa-plus mr-2"></i> Cliente/Prov</a>
                    </mat-menu>
                </li>
                <!-- #END# Crear Button -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- Botón Crear para pantallas medianas y pequeñas - En la barra derecha -->
                <li class="d-lg-none">
                    <button class="btnCrear bt bt-o-blue" [matMenuTriggerFor]="createmenu">
                        <i class="fa fa-plus"></i>
                        Crear
                    </button>
                </li>
                <!-- Full Screen Button -->
                <li class="fullscreen">
                    <button mat-icon-button class="nav-notification-icons" (click)="callFullscreen()">
                        <app-feather-icons [icon]="'maximize'" [class]="'header-icon'"></app-feather-icons>
                    </button>
                </li>
                <li class="darkscreen">
                    <button mat-icon-button class="nav-notification-icons" (click)="toggleDarkMode()">
                        <app-feather-icons [icon]="!isDarkTheme ? 'moon' : 'sun'"></app-feather-icons>
                    </button>
                </li>
                <!-- #END# Full Screen Button -->
                <!-- #START# Notifications-->
                <li class="nav-item btnNotification" ngbDropdown>
                    <button mat-icon-button [matMenuTriggerFor]="notificationMenu" class="nav-notification-icons">
                        <app-feather-icons [icon]="'bell'" [class]="'header-icon'"></app-feather-icons>
                        <span class="label-count bg-orange"></span>
                    </button>
                    <mat-menu #notificationMenu="matMenu" class="nfc-menu mt-2">
                        <div class="nfc-header">
                            <h5 class="mb-0">Notitications</h5>
                            <a class="nfc-mark-as-read">Mark all as read</a>
                        </div>
                        <div class="nfc-dropdown">
                            <ng-scrollbar style="height: 350px" visibility="hover">
                                <div class="noti-list header-menu">
                                    <div class="menu">
                                        <div>
                                            @for (notification of notifications; track notification) {
                                            <button mat-menu-item onClick="return false;"
                                                [ngClass]="[notification.status]">
                                                <span class="table-img msg-user ">
                                                    <i class="material-icons-outlined nfc-type-icon"
                                                        [ngClass]="[notification.color]">{{notification.icon}}</i>
                                                </span>
                                                <span class="menu-info">
                                                    <span class="menu-title">{{notification.message}}</span>
                                                    <span class="menu-desc mt-2">
                                                        <i class="material-icons">access_time</i> {{notification.time}}
                                                    </span>
                                                </span>
                                                <span class="nfc-close">
                                                    <app-feather-icons [icon]="'x'"
                                                        [class]="'user-menu-icons'"></app-feather-icons>
                                                </span>
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </ng-scrollbar>
                        </div>
                        <div class="nfc-footer">
                            <a class="nfc-read-all">Read
                                All Notifications</a>
                        </div>
                    </mat-menu>
                </li>
                <!-- #END# Notifications-->
                <li class="nav-item user_profile">
                    <button mat-button [matMenuTriggerFor]="profilemenu">
                        <div class="chip dropdown-toggle" ngbDropdownToggle class="">
                            <img src="assets/images/user.png" class="rounded-circle" width="32" height="32" alt="User">
                        </div>
                    </button>
                    <mat-menu #profilemenu="matMenu" class="profile-menu">
                        <div class="noti-list">
                            <div class="menu ">
                                <div class="user_dw_menu">
                                    <button mat-menu-item class="user-item-list">
                                        <app-feather-icons [icon]="'user'"
                                            [class]="'user-menu-icons'"></app-feather-icons>
                                        {{currentUser?.name}}
                                    </button>
                                    <button mat-menu-item class="user-item-list">
                                        <app-feather-icons [icon]="'settings'"
                                            [class]="'user-menu-icons'"></app-feather-icons>
                                        Estado de Cuenta
                                    </button>
                                    <button mat-menu-item (click)="onLogout()" class="user-item-list">
                                        <app-feather-icons [icon]="'log-out'"
                                            [class]="'user-menu-icons'"></app-feather-icons>
                                        Salir
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-menu>
                </li>
                <!-- #END# Tasks -->
            </ul>
        </div>
    </div>
</nav>