<pagination-template #p="paginationApi" [id]="id" [maxSize]="maxSize" (pageChange)="pageChange.emit($event)"
    (pageBoundsCorrection)="pageBoundsCorrection.emit($event)">
    <nav role="navigation" [attr.aria-label]="screenReaderPaginationLabel">
        @if (!(autoHide && p.pages.length <= 1)) { <ul class="ngx-pagination" [class.responsive]="responsive">
            @if (directionLinks) {
            <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
                @if (1 < p.getCurrent()) { <a tabindex="0" (keyup.enter)="p.previous()" (click)="p.previous()">
                    {{ previousLabel }} <span class="show-for-sr">{{ screenReaderPageLabel }}</span>
                    </a>
                    }

                    @if (p.isFirstPage()) {
                    <span aria-disabled="true">
                        {{ previousLabel }} <span class="show-for-sr">{{ screenReaderPageLabel }}</span>
                    </span>
                    }

            </li>
            }

            <li class="small-screen">
                {{ p.getCurrent() }} / {{ p.getLastPage() }}
            </li>

            @for (page of p.pages; track trackByIndex) {
            <li [class.current]="p.getCurrent() === page.value" [class.ellipsis]="page.label === '...'">
                @if (p.getCurrent() !== page.value) {
                <a tabindex="0" (keyup.enter)="p.setCurrent(page.value)" (click)="p.setCurrent(page.value)">
                    <span class="show-for-sr">{{ screenReaderPageLabel }} </span>
                    <span>{{ (page.label === '...') ? page.label : (page.label | number:'') }}</span>
                </a>
                }

                @if (p.getCurrent() === page.value) {
                <ng-container>
                    <span aria-live="polite">
                        <span class="show-for-sr">{{ screenReaderCurrentLabel }} </span>
                        <span>{{ (page.label === '...') ? page.label : (page.label | number:'') }}</span>
                    </span>
                </ng-container>
                }
            </li>
            }

            @if (directionLinks) {
            <li class="pagination-next" [class.disabled]="p.isLastPage()">
                @if (!p.isLastPage()) {
                <a tabindex="0" (keyup.enter)="p.next()" (click)="p.next()">
                    {{ nextLabel }} <span class="show-for-sr">{{ screenReaderPageLabel }}</span>
                </a>
                }

                @if (p.isLastPage()) {
                <span aria-disabled="true">
                    {{ nextLabel }} <span class="show-for-sr">{{ screenReaderPageLabel }}</span>
                </span>
                }

            </li>
            }
            </ul>
            }
    </nav>
</pagination-template>