<section class="content">
    <div class="container-fluid">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
    </div>

    <div class="container-fluid">
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
            <div class="container-semi-fluid">
                <div class="row">
                    <div class="col-sm-12 section_title">
                        <i class="fa fa-chevron-right"></i> Nueva Nota Contable
                    </div>
                </div>
                <hr>
                <!--  @if (pucSeleted.length >0) { -->
                <div class="action_panel">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="col-12">
                                <div class="form-group">
                                    @if (!selectedCustomer) {
                                    <!-- Usar app-pg-autocomplete para la búsqueda de terceros -->
                                    <utils-autocomplete #customerAutocomplete [data]="customers" valueField="id"
                                        displayField="name" placeholder="Buscar Tercero"
                                        customDisplayTemplate="${name} - ${nit}" [debounceTime]="200" [minChars]="3"
                                        [itemTemplate]="customerTemplate" [showDropdownOnFocus]="true"
                                        (selected)="onCustomerSelected($event)" [showButton]="true" buttonText="Crear"
                                        buttonClass="bt bt-white ms-2" buttonIconClass="fa fa-plus"
                                        (buttonClick)="onCreateNewCustomer()" [required]="false"
                                        errorMessage="Debe seleccionar un Tercero" [showSelectedValue]="false"
                                        [returnFullObject]="true">
                                    </utils-autocomplete>

                                    <!-- Template personalizado para los items del dropdown -->
                                    <ng-template #customerTemplate let-customer>
                                        <div class="d-flex flex-column">
                                            <span class="fw-bold">{{ customer.name }}</span>
                                            <div class="d-flex justify-content-between small">
                                                <span class="text-primary">NIT: {{ customer.nit }}</span>
                                                <span class="text-muted">{{ customer.city || '' }}</span>
                                            </div>
                                        </div>
                                    </ng-template>
                                    }
                                    <!-- Vista previa del cliente seleccionado -->
                                    @if (selectedCustomer) {

                                    <div class="selected_user">
                                        <div class="action_panel_two text-left">
                                            <button [appTooltip]="'Quitar Seleccion'" [placement]="'top'"
                                                class="btn btn-outline-danger" (click)="clearUserModal()">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                        <div class="selected_user_info">
                                            <div class="selected_company">Razón Social:
                                                <a [appTooltip]="'Ver Tercero'" [placement]="'top'" target="_blank"
                                                    href="#">
                                                    <b>{{ selectedCustomer.name }}</b></a>
                                            </div>
                                            <div class="selected_name">
                                                Contacto: <b></b>
                                            </div>
                                            <div class="selected_id">
                                                NIT - CC: <b>{{ selectedCustomer.nit }}</b>
                                            </div>
                                            <div class="selected_id">
                                                Ciudad: <b>{{ selectedCustomer.city }}</b>
                                            </div>
                                            <div class="selected_id">
                                                Dir: <b>{{ selectedCustomer.address }}</b>
                                            </div>
                                            <div class="selected_id">
                                                Tel: <b>{{ selectedCustomer.phone }}</b>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row text-left">
                                <!-- Oficina -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="w-100">
                                            Oficina: <span class="required">*</span>
                                            <select formControlName="cbOffice" class="form-select"
                                                [ngModel]="wareSelected"
                                                [formControlValidation]="noteForm.get('cbOffice')!">
                                                <option value="Oficina Principal">Oficina Principal</option>
                                                <option value="Oficina Centro">Oficina Centro</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- Fecha Contable -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="w-100">
                                            Fecha Contable: <span class="required">*</span>
                                            <input formControlName="fechaContable" type="date" class="form-control"
                                                [readOnly]="true"
                                                [formControlValidation]="noteForm.get('fechaContable')!">
                                        </label>
                                    </div>
                                </div>

                                <!-- Centro de costo -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="w-100">
                                            Centro de costo: <span class="required">*</span>
                                            <select formControlName="cbCentoCosto" class="form-select"
                                                [ngModel]="centroCosto"
                                                [formControlValidation]="noteForm.get('cbCentoCosto')!">
                                                <option value="--">...</option>
                                                <option value="19">VENTAS</option>
                                                <option value="20">Pollos asados</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <!-- Referencia -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="w-100">
                                            Referencia: <span class="required">*</span>
                                            <input formControlName="txtReference" type="text" class="form-control"
                                                [ngModel]="txtReference"
                                                [formControlValidation]="noteForm.get('txtReference')!">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 mt-2">
                    <div class="col-12">
                        <utils-autocomplete #pucAutocomplete [autofocus]="true" [data]="puc" valueField="code"
                            displayField="code" placeholder="Buscar Cuenta"
                            customDisplayTemplate="${code} - ${description} (${nature})" [debounceTime]="200"
                            [minChars]="2" [itemTemplate]="pucTemplate" [showDropdownOnFocus]="false"
                            (selected)="onPucSelected($event)" (search)="onSearchPuc($event)"
                            formControlName="pucAutocompleteId" [showSelectedValue]="false" [returnFullObject]="true"
                            [required]="false" errorMessage="Debe seleccionar una cuenta PUC">
                        </utils-autocomplete>

                        <ng-template #pucTemplate let-puc>
                            <div class="d-flex flex-column">
                                <span class="fw-bold">{{ puc.code }}</span>
                                <div class="d-flex justify-content-between small">
                                    <span class="text-primary">{{ puc.description }}</span>
                                    <span class="text-muted">{{ puc.nature }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="accounts-container mt-2">

                    @for (item of pucSeleted; track $index) {
                    <div class="card p-1">
                        <div class="row accounting_notes g-1">
                            <div class="col-11 text-left p-0">
                                <div class="row g-1">
                                    <div class="col-4 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                        {{item.account}}
                                    </div>
                                    <div class="col-8 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        {{item.account_name.toUpperCase()}}
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <input type="number" [step]="0.01" placeholder="Débito"
                                            class="form-control form-control-sm p-1" [value]="item.debit"
                                            [disabled]="item.debitDisabled" (input)="onDebitChange($index, $event)"
                                            typingListener>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <input type="number" placeholder="Crédito"
                                            class="form-control form-control-sm p-1" [value]="item.credit"
                                            [disabled]="item.creditDisabled" [step]="0.01"
                                            (input)="onCreditChange($index, $event)" typingListener>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <input type="number" placeholder="Base gravada"
                                            class="form-control form-control-sm p-1" [value]="item.taxable_base"
                                            [step]="0.01" typingListener>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <input type="number" placeholder="Base No gravada"
                                            class="form-control form-control-sm p-1" [value]="item.exempt_base"
                                            [step]="0.01" typingListener>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 text-right p-0">
                                <button type="button" class="btn btn-sm btn-link text-danger p-0"
                                    (click)="removeItem($index, item)" title="Eliminar"
                                    [appTooltip]="'Eliminar ' + item.account">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <!-- <div class="col-1 text-right p-0">
                                <utils-dropdown-button tooltipText="Opciones" class="compact-dropdown">
                                    <button type="button" class="dropdown-item bt-red p-1"
                                        (click)="removeItem($index, item)">
                                        <i class="fa fa-times"></i>
                                        Eliminar
                                    </button>
                                    <button type="button" class="dropdown-item p-1">
                                        <i class="fas fa-hand-holding-usd"></i>
                                        Agregar Base Gravable
                                    </button>
                                </utils-dropdown-button>
                            </div> -->
                        </div>
                    </div>
                    }
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="text-center card section_title">
                            <small>Total Débitos</small>
                            ${{getTotalDebits() | number:'1.0-2'}}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="text-center card section_title">
                            <small>Total Créditos</small>
                            ${{getTotalCredits() | number:'1.0-2'}}
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-12 section_title">
                        <i class="fa fa-chevron-right"></i>
                        Observaciones
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block pad2rem invoiceform">
                                <textarea formControlName="txtComment" maxlength="500" rows="3" [ngModel]="txtComment"
                                    class="form-control register_box"
                                    [formControlValidation]="noteForm.get('txtComment')!"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="action_panel">
                            <button type="submit" class="bt bt-green">
                                <i class="fa fa-check"></i>
                                Generar Nota Contable
                            </button>
                        </div>
                    </div>
                </div>
                <!-- } -->
            </div>
        </form>
    </div>
</section>