<div class="row">
    @for (menu of cardMenu; track menu; let i = $index) {

    <div class="col-12 col-md-3 pb-2">
        <a [routerLink]="menu.link" class="not_link">
            <div class="card card-h text-center hoverable tw m4">
                <div class="card-svg">
                    <img class="card-img-top" [src]="menu.icon" />
                </div>
                <div class="card-block">
                    <h4 class="submenu_title">{{ menu.title }}</h4>
                </div>
            </div>
        </a>
    </div>
    }
</div>