<section class="content">
    <div class="container-fluid">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
        <!-- Widgets -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center">
                    <div class="text font-16 m-b-5">Total Income</div>
                    <h4 class="m-b-10">$758
                        <i class="material-icons col-green">trending_up</i>
                    </h4>
                    <div class="apex-chart-center">
                        <apx-chart [series]="smallBarChart.series!" [chart]="smallBarChart.chart!"
                            [plotOptions]="smallBarChart.plotOptions!" [tooltip]="smallBarChart.tooltip!">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center">
                    <div class="text font-16 m-b-5">Orders Received</div>
                    <h4 class="m-b-10">1025
                        <i class="material-icons col-red">trending_down</i>
                    </h4>
                    <apx-chart [series]="smallAreaChart.series!" [chart]="smallAreaChart.chart!"
                        [stroke]="smallAreaChart.stroke!" [yaxis]="smallAreaChart.yaxis!" [fill]="smallAreaChart.fill!"
                        [colors]="smallAreaChart.colors!" [tooltip]="smallAreaChart.tooltip!"></apx-chart>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center">
                    <div class="text font-16 m-b-5">Total Sales</div>
                    <h4 class="m-b-10">956
                        <i class="material-icons col-green">trending_up</i>
                    </h4>
                    <div class="apex-chart-center">
                        <apx-chart [series]="smallColumnChart.series!" [chart]="smallColumnChart.chart!"
                            [plotOptions]="smallColumnChart.plotOptions!" [tooltip]="smallColumnChart.tooltip!">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center">
                    <div class="text font-16 m-b-5">Total Active Users</div>
                    <h4 class="m-b-10">214
                        <i class="material-icons col-red">trending_down</i>
                    </h4>
                    <apx-chart [series]="smallLineChart.series!" [chart]="smallLineChart.chart!"
                        [stroke]="smallLineChart.stroke!" [tooltip]="smallLineChart.tooltip!"></apx-chart>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Client Survay</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div id="chart">
                            <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
                                [xaxis]="areaChartOptions.xaxis!" [yaxis]="areaChartOptions.yaxis!"
                                [colors]="areaChartOptions.colors!" [stroke]="areaChartOptions.stroke!"
                                [legend]="areaChartOptions.legend!" [grid]="areaChartOptions.grid!"
                                [tooltip]="areaChartOptions.tooltip!"
                                [dataLabels]="areaChartOptions.dataLabels!"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Project Status</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div id="chart">
                            <apx-chart [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
                                [dataLabels]="barChartOptions.dataLabels!" [plotOptions]="barChartOptions.plotOptions!"
                                [colors]="barChartOptions.colors!" [xaxis]="barChartOptions.xaxis!"
                                [stroke]="barChartOptions.stroke!" [fill]="barChartOptions.fill!"
                                [yaxis]="barChartOptions.yaxis!" [title]="barChartOptions.title!"
                                [tooltip]="barChartOptions.tooltip!" [legend]="barChartOptions.legend!"
                                [grid]="barChartOptions.grid!">
                            </apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <mat-card>
                    <mat-card-header class="header-style">
                        <mat-card-title>Clients Details</mat-card-title>
                        <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-scrollbar style="height: 400px" visibility="hover">
                            <app-table-card [dataSource]="clientData"
                                [columnDefinitions]="clientColumnDefinitions"></app-table-card>
                        </ng-scrollbar>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- #END# Task Info -->
            <!-- Browser Usage -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>New Project</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-scrollbar style="height: 400px" visibility="hover">
                            <app-new-order-list></app-new-order-list>
                        </ng-scrollbar>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- #END# Browser Usage -->
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fab fa-twitter fa-3x col-blue"></i>
                    <div class="title p-t-15">
                        <h5>Twitter</h5>
                    </div>
                    <div class="text p-b-10">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi
                            eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                            ad.</span>
                    </div>
                    <a href="#" onClick="return false;">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fab fa-instagram fa-3x col-red"></i>
                    <div class="title p-t-15">
                        <h5>Instagram</h5>
                    </div>
                    <div class="text p-b-10">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi
                            eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                            ad.</span>
                    </div>
                    <a href="#" onClick="return false;">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fab fa-facebook-f fa-3x col-blue"></i>
                    <div class="title p-t-15">
                        <h5>Facebook</h5>
                    </div>
                    <div class="text p-b-10">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi
                            eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                            ad.</span>
                    </div>
                    <a href="#" onClick="return false;">Learn More</a>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Earning Source</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-scrollbar style="height: 400px" visibility="hover">
                            <div class="totalEarning">
                                <h3>$90,808</h3>
                            </div>
                            <app-earning-source [earningSources]="sources"></app-earning-source>
                        </ng-scrollbar>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Customer Review -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <mat-card>
                    <mat-card-header class="header-style">
                        <mat-card-title> Customer Review</mat-card-title>
                        <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-scrollbar style="height: 400px" visibility="hover">
                            <app-review-widget [reviews]="reviewList"></app-review-widget>
                        </ng-scrollbar>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- #END# Customer Review -->
        </div>
    </div>
</section>